
    b{
        font-size: large;
        font-weight: bold;
        
    }
    body{
        font-weight: bold;
        background-color: cadetblue;
        color:black;
    }
    *{
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
    }
    
